<html><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aurora</title>

    <link href="../../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../../styles/style.min.css" rel="stylesheet">
</head>

<body class="gray-bg">


<div class="middle-box text-center animated fadeInDown">
    <h2 class="font-bold">Cita cancelada</h2>
    <h3 class="font-bold">Atención</h3>

    <div class="error-desc">
        Su cita ya ha sido cancelada previamente y las horas apartadas reestablecidas.
    </div>
</div>
</body></html>