<link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">

<div class="inmodal" id="inmodal">
  <form role="form" name="appointmentForm" novalidate ng-submit="vm.save()">
    <div class="modal-header">
      <h4 class="modal-title">Cita Agendada</h4>
    </div>
    <div class="modal-body">

      <h3>Apreciable {{ vm.currentUser.name }}</h3>

      <p>
        Te comunicamos que la cita con tu paciente <b>{{vm.event.title}}</b> ha quedado agendada de forma satisfactoria:<br>
        <b>Sucursal:</b> {{vm.cubicle.branch.name}}<br>
        <b>Dirección:</b> {{vm.cubicle.branch.address}}<br>
        <b>Consultorio:</b> {{vm.cubicle.name}}<br>
        <b>Fecha:</b> {{ vm.event.date.format("dddd DD") }} de {{ vm.event.date.format("MMMM") }} del {{ vm.event.date.format("YYYY") }} de {{ vm.event.startHour | formatHr }} a {{ vm.event.endHour | formatHr }}<br>
        <b>Paciente:</b> {{vm.event.title}}
      </p>

      <p>
        Para agregar esta cita a tu calendario:<br/>
        <span class="addtocalendar atc-style-blue">
        <var class="atc_event">
          <var class="atc_date_start">{{ vm.event.date.format("YYYY-MM-DD") }} {{ vm.event.startHour | formatHr2 }}</var>
          <var class="atc_date_end">{{ vm.event.date.format("YYYY-MM-DD") }} {{ vm.event.endHour | formatHr2 }}</var>
          <var class="atc_timezone">America/Mexico_City</var>
          <var class="atc_title">Cita - Reserva tu consultorio</var>
          <var class="atc_description">{{vm.event.title}} {{vm.event.cubicle.name}}</var>
          <var class="atc_location">Tampico 8, Roma Nte., 06700 Ciudad de México, D.F., México</var>
          <var class="atc_organizer">Reserva tu consultorio</var>
          <var class="atc_organizer_email">citas@reservatuconsultorio.com</var>
        </var>
        </span>
      </p>

      <p>
        Recuerda que si quieres cancelar la cita cuentas con 12 horas previas para hacerlo. Si tu cita es en m&aacute;s de
        12 horas ingresa al siguiente link para cancelarla:<br>
        <button type="button" class="btn btn-primary" ng-click="vm.cancelApt()">Cancelar Cita</button>
      </p>

      <p>
        Te recordamos que tienes un saldo de {{vm.membershipHrs}} hrs dentro de tu {{vm.membershipName}} con fecha de vencimiento al:
        {{vm.membershipExpirationDate}}. Si deseas agregar m&aacute;s horas o incrementar tu membres&iacute;a ingresa al siguiente link:<br/>
        <a href="#/index/doctors-store">Contratar horas extra o aumentar de membres&iacute;a.</a>
      </p>
      
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="vm.dontShow()">No mostrar este mensaje de nuevo</button>
      <button type="button" class="btn btn-white" ng-click="vm.cancel()">Aceptar</button>
    </div>
  </form>
</div>

<div class="busy" ng-show="vm.loading">
  <div class="spiner-example">
    <div class="sk-spinner sk-spinner-wave">
      Cargando...
      <div class="sk-rect1"></div>
      <div class="sk-rect2"></div>
      <div class="sk-rect3"></div>
      <div class="sk-rect4"></div>
      <div class="sk-rect5"></div>
    </div>
  </div>
</div>