<div class="inmodal">
  <form role="form" name="leadForm" novalidate ng-submit="vm.save()">
    <div class="modal-header">
      <h4 class="modal-title">{{vm.action}} Lead</h4>
    </div>
    <div class="modal-body">

      <div class="form-group" ng-class="vm.isDirty() && leadForm.name.$invalid ? 'has-error' : ''">
        <label>Nombre</label>
        <input type="text" class="form-control" name="name" ng-model="vm.lead.name" ng-minlength="1" maxlength="100"
               required>
        <div class="m-t-xs" ng-show="vm.isDirty() && leadForm.name.$invalid">
          <small class="text-danger" ng-show="leadForm.name.$error.required">Ingrese el nombre del usuario.</small>
          <small class="text-danger" ng-show="leadForm.name.$error.minlength">Ingrese al menos 1 caracteres.</small>
        </div>
      </div>

      <div class="form-group" ng-class="vm.isDirty() && leadForm.origin.$invalid ? 'has-error' : ''">
        <label for="origin">Origen</label>

        <select id="origin" class="form-control" name="origin" data-ng-options="origin.name for origin in vm.origins"
                data-ng-model="vm.lead.origin" required>
          <option value="">Seleccione un origen</option>
        </select>

        <div class="m-t-xs" ng-show="vm.isDirty() && leadForm.origin.$invalid">
          <small class="text-danger" ng-show="leadForm.origin.$error.required">Seleccione un origen.</small>
        </div>
      </div>

      <div class="form-group" ng-class="leadForm.$dirty && leadForm.branch.$invalid ? 'has-error' : ''">
        <label>Sucursal </label>

        <select class="form-control" name="branch" data-ng-options="branch.name for branch in vm.branchList track by branch.id"
                data-ng-model="vm.lead.branch" required>
          <option value="">Seleccione una sucursal</option>
        </select>

        <div class="m-t-xs" ng-show="leadForm.$dirty && leadForm.branch.$invalid">
          <small class="text-danger" ng-show="leadForm.branch.$error.required">Seleccione una sucursal.</small>
        </div>
      </div>

      <div class="form-group" ng-class="vm.isDirty() && leadForm.lead.$invalid ? 'has-error' : ''">
        <label>Correo Electrónico</label>
        <input type="email" class="form-control" placeholder="E-mail" name="email" ng-model="vm.lead.email"
               ng-minlength="5" maxlength="100" required>
        <div class="m-t-xs" ng-show="vm.isDirty() && leadForm.email.$invalid">
          <small class="text-danger" ng-show="leadForm.email.$error.required">Ingrese un correo electrónico.</small>
          <small class="text-danger" ng-show="leadForm.email.$error.email">Correo electrónico inválido.</small>
          <small class="text-danger" ng-show="leadForm.email.$error.duplicated">Correo electrónico ya existente.</small>
        </div>
      </div>

      <div class="form-group" ng-class="vm.isDirty() && leadForm.mobile.$invalid ? 'has-error' : ''">
        <label>Celular</label>
        <input type="text" class="form-control" name="mobile" data-mask="(99) 9999-9999" ng-model="vm.lead.mobile" required>
        <div class="m-t-xs" ng-show="vm.isDirty() && leadForm.mobile.$invalid">
          <small class="text-danger" ng-show="leadForm.mobile.$error.required">Ingrese un n&uacute;mero celular.</small>
        </div>
      </div>

      <div class="form-group" ng-class="vm.isDirty() && leadForm.phone.$invalid ? 'has-error' : ''">
        <label>Tel&eacute;fono</label>
        <input type="text" class="form-control" name="phone" data-mask="(99) 9999-9999" ng-model="vm.lead.phone">
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancelar</button>
      <button class="btn btn-sm btn-primary" type="submit" ng-disabled="vm.enableSaveBtn"><strong>Guardar</strong>
      </button>
    </div>
  </form>
</div>

<div class="busy" ng-show="vm.loading">
  <div class="spiner-example">
    <div class="sk-spinner sk-spinner-wave">
      Cargando...
      <div class="sk-rect1"></div>
      <div class="sk-rect2"></div>
      <div class="sk-rect3"></div>
      <div class="sk-rect4"></div>
      <div class="sk-rect5"></div>
    </div>
  </div>
</div>