<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12 animated fadeInRight">

      <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
          <h2><i class="fa fa-video-camera"></i> {{vm.stateData.pageTitle}}</h2>
          <br>
          <div ng-if="vm.stateData.videoSrc == 'FPY_aUoIw1w'">
            <iframe src="https://www.youtube.com/embed/FPY_aUoIw1w" width="600" height="350" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>