<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Mi Perfil</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="contact-box center-version">

        <a href="">
          <i class="fa fa-user fa-5x" aria-hidden="true"></i>
          <h3 class="m-b-xs"><strong>{{vm.user.name}}</strong></h3>
          <div class="font-bold">{{vm.user.user}}</div>
          <div ng-show="vm.user.role.id == CONSTANTS.ROLES.CLIENT" class="font-bold">Acumulado Horas Restantes:
            <span ng-class="vm.user.membershipHrs < 5 ? 'error' : ''" ng-hide="vm.user.hasUnlimitedMembership">
            {{vm.user.membershipHrs}} hrs. restantes</span>
            <span class="error" ng-show="vm.user.hasUnlimitedMembership">
            HORAS ILIMITADAS</span>
          </div>
          <div ng-hide="vm.user.role.id == CONSTANTS.ROLES.CLIENT">{{vm.user.role.name}}</div>
          <address class="m-t-md" ng-show="vm.user.role.id == CONSTANTS.ROLES.CLIENT" ng-repeat="membership in vm.user.relatedMembership">
            <img ng-src="{{CONSTANTS.API_URI}}/membership/view-file?membershipId={{membership.type.id}}"><br>
            <strong>{{membership.type.name}}</strong><br>
            Caducidad: {{membership.formattedExpirationDate}}<br>
            Horas Membresía: {{membership.type.hours}}<br>
            Horas Restantes:
            <span ng-hide="membership.type.unlimited">
            {{membership.availableHours}}</span>
            <span class="error" ng-show="membership.type.unlimited">
            HORAS ILIMITADAS</span>
          </address>
        </a>

      </div>
    </div>
  </div>
</div>